.bottom_bar
  Jump to:
  =link_to 'Start', home_index_path
  =link_to 'New expression', new_expression_path
  =link_to 'Learn', learn_index_path
  =link_to 'Expressions', expressions_path
  =link_to 'Collections', collections_path

