
.home_header
  Quick start:

%ul.home_header

  %li
    =link_to 'Create expressions', new_expression_path
    .desc
      Create a few expressions which you want to learn.


  %li
    =link_to 'Learn expressions', :controller => :learn
    .desc
      Practice makes perfect !

  %li
    =link_to 'Manage expressions', expressions_path
    or
    =link_to 'manage collections', collections_path
    .desc
      Manage data and group your expressions so that you can learn them easier and more efficiently.


=link_to 'Sign in', new_user_session_path
