.box
  %h3
    Show attributes:

  =form_tag :action => :settings do |f|

    %p
      =check_box_tag 'img', 1, true
      =label_tag 'img', 'Image'


    %p
      =check_box_tag 'def', 1, true
      =label_tag 'def','Definition'


    %p
      =check_box_tag 'syn', 1, true
      =label_tag 'syn', 'Synonyms'


    %p
      =check_box_tag 'ex', 1, true
      =label_tag 'ex', 'Examples'


    %p
      =check_box_tag 'notes',1, true
      =label_tag 'notes', 'Notes'


    =submit_tag 'Save settings '