.box
  %h3
    Show collections:

  =form_tag :action => :settings do |f|

    %p
      =radio_button_tag "collection", 'all', true
      =label_tag 'collection_all', 'All'

    -@collections.each do |collection|
      %p
        =radio_button_tag "collection", "c_#{collection.id}"
        =label_tag "collection_c_#{collection.id}","#{collection.name}"

    =hidden_field_tag :type, 'collection'

    =submit_tag 'Save settings '