.right
  =render :partial => 'attributes_selector'
  =render :partial => 'collection_selector'

.left

  =render :partial => 'content', :locals => {:prev_active => @prev_active, :next_active => @next_active }





