/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require active_scaffold
 *= require_tree .
*/

test-only{
      /*color:#7fffd4;*/
    /*margin: */
    font-family: Candara, Arial, Helvetica, sans-serif;
}

.bottom_bar{
    position: fixed;
    top:0;
    left:0;
    background-color: #49779B;
    /*opacity: 0.8;*/
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    height: 20px;
}

.bottom_bar a{
    padding: 0 20px;
    color:white;
    text-decoration: none;
    border-left: solid white 1px;
    font-weight: bold;
}
.bottom_bar a:hover{
    text-decoration: underline;
}