// Place all the styles related to the learn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.left{
    padding-right: 250px;

    .prev{
        min-width:110px;
        vertical-align:top;
        overflow:hidden;
        padding-top:100px;
        a{
            padding: 10px 20px;
            padding-bottom:1000px;
            padding-top:100px;
            &:hover{
                background-color: lightgray;
            }
            min-width:90px;
            background-color: #EEE;
        }
    }

    .next{
        min-width:110px;
        vertical-align:top;
        overflow:hidden;
        padding-top:100px;
        a{
            padding: 10px 20px;
            padding-bottom:1000px;
            padding-top:100px;
            &:hover{
                background-color: lightgray;
            }
            background-color: #EEE;
            min-width:90px;
        }
    }

    .expression{
        width: 100%;
        padding: 20px;
    }
}

.right{
    float:right;
    width:200px;
    background: lightblue;
    padding: 10px;
    padding-top: 0;

    input[type='checkbox']{
    }
}
