// Place all the styles related to the learn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.guess{
    text-align: center;
    background: #EEE;
    padding: 10px;

  form{
    display:inline;
    }

    .correct{
        color: green;
        font-weight: bold;
    }

    .incorrect{
        color: crimson;
        font-weight: bold;
    }
}

.left{
    padding-right: 250px;

    .prev{
        min-width:110px;
        vertical-align:top;
        overflow:hidden;
        padding-top:100px;
        a{
            padding: 10px 10px;
            padding-bottom:1000px;
            padding-top:100px;
            &:hover{
                background-color: lightgray;
            }
            min-width:90px;
            background-color: #EEE;
            color: black;
            text-decoration: none;
        }
    }

    .next{
        min-width:110px;
        vertical-align:top;
        overflow:hidden;
        padding-top:100px;
        a{
            padding: 10px 25px;
            padding-bottom:1000px;
            padding-top:100px;
            &:hover{
                background-color: lightgray;
            }
            background-color: #EEE;
            min-width:90px;
            color: black;
            text-decoration: none;
        }
    }

    .expression{
        width: 100%;
        padding: 20px;
        padding-bottom:0;
    }
}



.right{
    float:right;
    width:180px;
    padding-top: 0;

    .box{
        background: lightblue;
        padding: 10px;
        margin-bottom: 30px;
        }

    input[type='checkbox']{
    }
}
